header.preview_site{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 2px 5px 12px 5px;
}

header.preview_site nav ul li{
  display: inline;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 10px;
}

header.preview_site nav ul li a {
  display: inline-block;
  width: 100px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: #999;
}

a.preview_site.active{
  border: solid 1px;
}

.content.preview_site{
  margin: 10px;
}

section.preview_site{
  background-color: #efefef;
  min-height:1000px;
  height: auto;
  padding: 30px;
}

section.preview_site article {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: dashed #333 1px;
}

aside.preview_site{

}

#accueil section{
  background-color: #efefef;
  min-height:1000px;
  height: auto;
  float: left;
  width: 77%;
  margin-right: 1%;
  padding: 1%;
}

#accueil section article{
  text-align: left;
}

#accueil aside{
  background-color: #e8e8e8;
  min-height:1000px;
  height: auto;
  float: left;
  width: 18%;
  padding: 1%;
}

.clear{
  clear: both;
}

.float-left{
  margin-right: 2%;
  width: 28%;
  float: left;
}

.float-right{
  width: 70%;
  float: left;
}

footer.preview_site{
  margin-top: 10px;
  background-color: #3e3e3e;
  text-align: center;
  min-height: 40px;
  height: auto;
  color: #fff;
  padding-top: 20px;
}

form.preview_site{
  margin: auto;
  width: 18%;
}

input.preview_site{
  display: list-item;
  margin: 14px;
}

img.float-left.preview_site{
  margin-top: 20px;
  width: inherit;
}

.football_theme{
  background-color: #4CAF50!important;
  color: #fff;
}

.cuisine_theme{
  background-color: rgb(255, 205, 59)!important;
  color: #000;
}
