<input id="input1" val="test">
<input id="input2" val="">

<script>
$('document').on('focus', '#input2',function(){
  var input1_val = $('#input1').val();
  var input2_val = $('#input2').val();
  if(input2_val == undefined || input2_val == ''){
    $('#input2').val(input1_val);
  }
})
</script>
