.preview_theme_jaune{
  height: 100px;
  width: 100px;
  background-color: yellow;
}

.preview_theme_bleu{
  height: 100px;
  width: 100px;
  background-color: blue;
}

a.btn {
    color: #fff;
    text-decoration: none;
}

.btn{
    color: #fff;
    padding: 10px;
    background-color: #37474f;
    border-radius: 4px;
}

.btn:hover{
    border: solid #37474f 1px;
    background-color: #90a4ae;
    color: #37474f;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #78909c;
    border: solid #4d565a 2px;
}

main{
    width: 90%;
    margin: auto;
    padding-bottom: 70px;
}

nav{
    margin-right: 15px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 5px
}

label img{
    height: 100px;
}

.choix_type_site td{
    text-align: center;
}

.preview_bloc{
    width: 90%;
    margin: auto;
    border: solid black 4px;
    border-radius: 10px;
}

.logo_site{
    background-color: black;
}

textarea{
    width: 100%;
}

#img_logo{
    margin-left: 15px;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.help_pseudocode{
    display: none;
    position: absolute;
    right: 80px;
    width: 15%;
    margin: auto;
    background-color: #A1C1CC;
    color: #1B667F;
    border: solid #1B667F 1px;
    border-radius: 4px;
    padding: 3px 8px;
}

footer.main{
    text-align: center;
    background: #333;
    color: #fff;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 98%;
}

.jumbotron{
    width: 90%;
    margin: 20px auto;
    border: dashed #333 2px;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(120, 144, 156, 0.43);
}

.container{
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.user_info{
    margin-right: 10px;
}

.list_pages{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
