/* Si police en local */
@font-face {
  font-family: 'Six Caps';
  src: url(SixCaps.ttf);
}
body{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
  background-color: #7f8c8d;
  /*animation: clignote 0.4s infinite;
  animation-direction: alternate;*/
  font-family: 'Six Caps', sans-serif;
}
header{
  height:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fontAnim 2s infinite;
}
main{
  height:80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#first_div{
  border-radius: 100px;
  height: 100px;
  animation: pulse 5s infinite; /*Nom du keyframe - Durée de l'animation - Boucle*/
  /*animation-delay: 2s;*/ /*On attends 2secondes avant de lancer l'animation*/
  /*animation-iteration-count: 3;*/ /* S'exécute 3 fois - aller-retour-aller pour animation-direcion:alternate*/
  animation-direction: alternate;
  animation-timing-function: ease-in-out; /*Rythme de l'animation*/
}

@keyframes pulse {
  0%{
    background-color: blue;
    width: 0%;
  }
  25%{
    background-color: green;
  }
  50%{
    background-color: red;
  }
  75%{
    background-color: yellow;
  }
  95%{
    background-color: #3498db;
  }
  100%{
    background-color: blue;
    width: 100%;
  }
}

@keyframes clignote {
  from {background-color: #ecf0f1;}
  to {background-color: #7f8c8d;}
}

@keyframes fontAnim {
  0%{
    font-size: 10px;
    text-shadow: none;
  }
  100%{
    font-size: 150px;
    text-shadow: 4px 0 0 #fefefe, -4px 0 0 #fefefe, 0 4px 0 #fefefe, 0 -4px 0 #fefefe, 3px 3px #fefefe, -3px -3px 0 #fefefe, 3px -3px 0 #fefefe, -3px 3px 0 #fefefe;
  }
}
