body{
    margin: 0;
}

header{
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 2px 5px 12px 5px;
}

header nav ul li{
  display: inline;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 10px;
}

header nav ul li a {
  display: inline-block;
  width: 100px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: #999;
}

a.active{
  border: solid 1px;
}

.content{
  margin: 10px;
}

section{
  background-color: #efefef;
  min-height:1000px;
  height: auto;
  padding: 30px;
}

section article {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: dashed #333 1px;
}

aside{

}

#accueil section{
  background-color: #efefef;
  min-height:1000px;
  height: auto;
  float: left;
  width: 77%;
  margin-right: 1%;
  padding: 1%;
}

#accueil section article{
  text-align: left;
}

#accueil aside{
  background-color: #e8e8e8;
  min-height:1000px;
  height: auto;
  float: left;
  width: 18%;
  padding: 1%;
}

.clear{
  clear: both;
}

.float-left{
  margin-right: 2%;
  width: 28%;
  float: left;
}

.float-right{
  width: 70%;
  float: left;
}

footer{
  margin-top: 10px;
  background-color: #3e3e3e;
  text-align: center;
  min-height: 40px;
  height: auto;
  color: #fff;
  padding-top: 20px;
}

form{
  margin: auto;
  width: 18%;
}

input{
  display: list-item;
  margin: 14px;
}
