// out: css/styles.css, sourcemap: true, compress: true

// Déclaration variables
@base_color: blue;
@base_font_size: 15px;
@base_size: 20;
@big_size: @base_size * 2;
@small_size: @base_size / 2;

// Utilisation variables
.base_div{
  color: @base_color;
  font-size: @base_font_size;
}

// Déclaration simple d'un sélecteur
.main_color{
  color: blue;
  background-color: green;
}

// Mixins
h1{
  .main_color;
}

.mixin(){
  @width: 20%;
}

// Nester les sélecteurs
//.base_div p{
//  display: none;
//}
//.base_div h1{
//  display: none;
//}
.base_div{
  width: 100px;
  p{
    color: green;
  }
  h1{
    color: yellow;
  }
}

// Calcul dans CSS
*{
  font-size: @big_size * 1px;
  .mixin();
  width: @width;
}

.main_content{
  p{
    
  }
}
