.base_div{color:blue;font-size:15px}.main_color{color:blue;background-color:green}h1{color:blue;background-color:green}.base_div{width:100px}.base_div p{color:green}.base_div h1{color:yellow}*{font-size:40px;width:20%}